<% provide(:title, "About Us") %>
<h1>About me</h1>

<% for i in 0..@items.length-1 %>
    <% if (i%4 == 0) %>
      <div class="span8">
      <div class="row-fluid">
    <% end %>
    <div class="span3">
        <div class="thumbnail">
          <span><%= @items[i] %></span>
        </div>
    </div>
    <% if (i%4 == 3) %>
      </div>
      </div>
    <% end %>  
    
<% end %>