<div class="row-fluid">
  <div class="center hero-unit">
    <h1><%= @isworking %></h1>
  </div>
</div>

<style>
  body
  {
    background-color: #eeeeee;
  }
  .hero-unit h1
  {
    margin-top: 8%;
    font-size: 80px;
  }
</style>