<div class="row-fluid">
  <div class="center hero-unit">
  <h1>Perry Zheng</h1>

  <div class="short_blurb">
    Smart, responsible, driven, working well with teams, and getting stuff done.
  </div>
  <div class="short_blurb">
    At least that is what everyone says. 
  </div>
  
  <%= link_to "My Resume", "/Perry_Zheng_Resume.pdf", class: "btn btn-large btn-primary" %>
  </div>
</div>