<h1>Projects</h1>

<div class="row-fluid">
  <div class="span4">
    <div class="sectionWrapperDiv">
      <div class="sectionTitle">
        1st Place AT&T Mobile Hackathon
      </div>
      <div class="sectionBody">
        <p>
        And 1stPlace GeekWire’s Gdgt Live Contest (<a href="http://bit.ly/noYFF">http://bit.ly/nQbE4I</a>) with Headshot, an augmented reality laser tag game (<a href="http://www.headhshotnow.com">http://www.headhshotnow.com</a>). Developed in C# and Windows Mango SDK.
        <p>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="sectionWrapperDiv">
      <div class="sectionTitle">
        Bible Verses Mobile Web App
      </div>
      <div class="sectionBody">
        
        <p>
          <a href="http://icomsea.org">http://icomsea.org</a>
        </p>
        <p>
          Initially created for Seattle’s International Community, a Christian fellowship associated with the City Church, this mobile app allows you to read, listen, and edit bible verses on the go. Developed independently in Ruby on Rails and JQuery Mobile.</p>
      </div>
    </div>
  </div>


  <div class="span4">
    <div class="sectionWrapperDiv">
      <div class="sectionTitle">
        Natural Language Processing Class
      </div>
      <div class="sectionBody">
        <p>
          Taken from Coursera
          <a href="http://class.coursera.org/nlp/">http://class.coursera.org/nlp/</a>
        </p>
      </div>
    </div>
  </div>
</div>